*{
    background: rgba(0,0,0,0);
    color: gray;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
#bt_returnPluginALL{
    image:url(:/qss/resource/qss/return.png);
}
#bt_returnPluginALL::hover{
    border:0px;
    image:url(:/qss/resource/qss/returnhover.png);
}
#pluginTitle{
    font-size: 20px;
    color: #CCCCCC;
}

QTabWidget{
    background: rgba(0,0,0,0);
}

QTabWidget::pane {
    border-size: 0px;
    background:transparent;
}

QTabWidget::tab-bar {

}

QTabBar::tab{
    background: transparent;
    color:gray;
    padding: 10px 20px 10px 16px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: transparent;
    color:white;
}

QTabBar::tab:selected {
    color: white;
}

QTabBar::tab:!selected {
    color:gray;
}

QTextBrowser{
    background-color:#0A2A45;
    font-size: 16px;
    border:0px;
    border-top:1px solid gray;
}

QScrollBar {
    border: 0px;
    background:#0A2A45;
    width:12px;
}
QScrollBar::handle, QScrollBar::handle::hover {
    background-color:rgba(255,255,255,64);
    min-height: 20px;
}
QScrollBar::add-line {
    border: 0px;
    background:#0A2A45;
}

QScrollBar::sub-line {
    border: 0px;
    background:#0A2A45;
}
