*{
background-color:rgba(0,0,0,0);/*rgba(144,144,144,160);*/
}
#labelWarning{
        font:bold "Microsoft YaHei";
        font-size: %1px;
        color: #ff0000;
        border:0px;
}
#labTemperature{
        font:bold "Microsoft YaHei";
        font-size: %2px;
        color: #ffffff;
        border:0px;
}
#labelAirQuality{
        font:bold "Microsoft YaHei";
        font-size: %3px;
        color: #00ff00;
        border:0px;
}
#labelRainStatus,#labelTempMaxMin{
        font:bold "Microsoft YaHei";
        font-size: %4px;
        color: #ffffff;
        border:0px;
}
